.head {
  background: rgb(204, 239, 252);
}

.headContent {
  max-width: 1100px;
  margin: 0 auto;
}



.page {
  /*max-width: 70%;*/
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  max-width: 98%;
  height: 100px;
  margin-bottom: 0px;
}

.contact-info {
  padding-top: 8px;
  text-align: right;
}


.body {
  margin-bottom: 30px;
}

.propertyPreview {
  padding: 12px;
  padding-top: 0px;
  border: 1px solid rgb(221, 220, 216);
  border-radius: 12px;
  margin-bottom: 10px;
}


.propertyIcon {
    width: 100%;
}

.widget {
  margin-top: 20px;

  border: 1px solid rgb(221, 220, 216);
  border-radius: 12px;
}


/*Custom NavBar Colors*/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(40, 40, 40);
    background-color:  rgb(204, 239, 252);
}

.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


@media only screen and (max-width: 768px){

.page {
  max-width: 100%;
}

.logo {

}




}
