body {
  @import url('https://fonts.googleapis.com/css?family=Droid+Sans');
  font-family: 'Droid Sans', sans-serif;
}

/*header*/
.head {
  /*background: rgb(224, 255, 255);*/
  background: white;
  /*background-image: url("../images/bg_4.png");
  background-size: 100% auto;
  background-position: 0px 0px;*/
  margin-bottom: -18px;
}

.headContent {
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  max-width: 98%;
  height: 100px;
  margin-bottom: 0px;
}

.contact-info {
  line-height: 17px;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  background: white;
  padding: 7px;
  border-radius: 6px;
}
/*header*/


.body {
  margin-bottom: 30px;
}

.page {
  background: rgb(241, 241, 241);
  /*max-width: 70%;*/
  max-width: 1070px;
  min-height: 1080px;
  margin: 0 auto;
}

.card{
  box-shadow: 2px 2px 6px #bbbaba;
  border: 1px solid rgb(221, 220, 216);
  border-radius: 12px;
  background: white;
}


/*listings*/
.propertyPreview {
  font-size: 13px;
  height: 300px;
  margin-bottom: 10px;
}

.propertyPreview button {
  margin-top: 7px;
  width: 48%;
  height: 50px;
  border: none;
  background: rgb(207, 241, 242)
}

.propertyPreview button:hover {
  background-color:  rgb(192, 246, 243)
}

.propPrevCrop {
  height: 270px;
  width: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.facts h3 {
  font-size: 20px;
  margin: auto;
}

.slideshow {
  height: 400px;
  width: 100%;
}

.slide {
  display: none;
  height: 400px;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.slideIm{
  object-fit: cover;
  height: 100%;
}
.arrow {
  font-size: 50px;

}

.arrow a {
  text-decoration: none;
  color: black;
  transition:background .2s ease-out;
}
.arrow a:hover{
  cursor: pointer;
  background: #e1e3e8;
}

.fadeS {
  -webkit-animation-name: fadeS;
  -webkit-animation-duration: .7s;
  animation-name: fadeS;
  animation-duration: .7s;
}

@-webkit-keyframes fadeS {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fadeS {
  from {opacity: .4}
  to {opacity: 1}
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.Dotactive, .dot:hover {
  background-color: #717171;
}


/*Custom button style*/
.travButton {
  background: none;
  border: none;
}

.travButton:hover {
  background: rgb(192, 246, 243);
}


.travButton img {
  height: 30px;
}

/*listings*/



/*other*/

.propertyPicPreview {
  height: 150px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.widget {
  margin-top: 20px;
  background: white;
  border: 1px solid rgb(221, 220, 216);
  border-radius: 12px;
}

.loginBox {
  width: 60%;
  padding: 20px;
}

.loginBox button {
  height: 50px;
  width: 100px;
}

.propertyForm {
  padding: 20px;
  width: 80%;
}

hr {
  border: 1px solid rgb(182, 182, 182);
}

button {
  border-radius: 20px;
  background: white;
  margin: 1px;
}

button:hover {
  background: rgb(192, 246, 243);
}

/*Custom NavBar Colors*/
.navbar-default {
  /*background-color: rgb(29, 32, 32);*/
  background: -webkit-linear-gradient(rgb(51, 59, 59), rgb(16, 18, 18));
}

.navbar-default .navbar-nav > li > a {
  transition: color .3s ease-out;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(40, 40, 40);
    /*background:  rgb(192, 246, 243);*/
    background: -webkit-linear-gradient(left, #a1ccc8 0%,#c0f6f3 9%,#c0f6f3 93%,#c0f6f3 93%,#addbd7 100%); 
}


.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}



@media only screen and (max-width: 768px){

.page {
  max-width: 100%;
}

.logo {

}

.propertyPreview {
  padding-bottom: 7px;
  font-size: 10px;
  height: auto;
}

.propPrevCrop {
  height: 270px;
  width: 100%;

}


.loginBox {
  width: 98%;
}



}
