.head {
  /*background: rgb(224, 255, 255);*/
  background: white;
  /*background-image: url("../images/bg_4.png");
  background-size: 100% auto;
  background-position: 0px 0px;*/
}

.headContent {
  max-width: 1100px;
  margin: 0 auto;
}

.page {
  background: rgb(241, 241, 241);
  /*max-width: 70%;*/
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 6px;
}

.logo {
  max-width: 98%;
  height: 100px;
  margin-bottom: 0px;
}

.contact-info {
  line-height: 17px;
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  background: white;
  padding: 7px;
  border-radius: 6px;
}


.body {
  margin-bottom: 30px;
}

.propertyPreview {
  background: white;
  padding: 12px;
  padding-top: 0px;
  border: 1px solid rgb(221, 220, 216);
  border-radius: 12px;
  margin-bottom: 10px;
}


.propertyIcon {
    max-width: 100%;
}

.widget {
  margin-top: 20px;
  background: white;
  border: 1px solid rgb(221, 220, 216);
  border-radius: 12px;
}


/*Custom NavBar Colors*/

.navbar-default {
  background-color: rgb(29, 32, 32);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(40, 40, 40);
    background-color:  rgb(192, 246, 243);
}


.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


@media only screen and (max-width: 768px){

.page {
  max-width: 100%;
}

.logo {

}




}
